*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:black;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    color:orange;
}

nav{
    display:flex;
    align-items:center;
    gap:15px;
}

nav input{
    padding:5px;
}

.cart{
    background:orange;
    padding:5px 10px;
    border-radius:5px;
    font-weight:bold;
}

.products{
    padding:40px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.price{
    color:green;
    font-weight:bold;
    margin:10px 0;
}

button{
    padding:8px 15px;
    border:none;
    background:black;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:orange;
}

.cart-section{
    background:white;
    padding:30px;
    margin:20px;
    border-radius:10px;
}
